/* Variables */
:root {
    --main-font: roboto, arial, sans-serif;
    --gray-color: #ABB2B9;
    --highlight-text-color: #000000;
    --zindex-header: 1005;
    --zindex-menu: 1001;
    --zindex-toggle: 1002;
    --hamburger-color: #333;
    --transition-standard: all 0.3s;
}

/* Basic Resets */
body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.content-wrapper {
    flex: 1;
}

/* Layout */
#container {
    position: relative;
    display: flex;
    margin-top: 20px;
}

#menu, #content {
    padding: 20px;
}

#content {
    flex-grow: 1;
}

.hidden {
    display: none;
}

/* Header */
#site-header {
    background: url('/frontend/src/main/resources/static/images/gallery/Morning_Idyll.jpeg') center/cover no-repeat;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.header-text {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 15px;
    font-weight: bold;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu */
#menu {
    flex: 0 0 200px;
    border-right: 1px solid var(--gray-color);
    padding-top: 70px;
    top: 150px;
}

#menu-toggle {
    display: none;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    margin-bottom: 10px;
}

#menu a {
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: right;
}

#menu a:hover,
.active-menu-item {
    text-decoration: underline;
}

.active-menu-item {
    font-size: 1.1em;
}

/* Gallery */
#gallery {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    transition: opacity 0.5s ease-in-out;
}

.artwork {
    margin: 0 50px 16px 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.artwork img {
    border-bottom: 1px solid #ccc;
    display: block;
    height: 300px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: auto;
}

.artwork figcaption {
    color: var(--gray-color);
    font-family: var(--main-font);
    font-size: 80%;
    line-height: 1;
    margin-top: 0;
    padding: 0;
    text-align: right;
}

.painting-name {
    color: var(--highlight-text-color);
    font-size: 80%;
    margin-bottom: 0;
}

.artwork p:last-child {
    color: var(--gray-color);
    font-size: 0.8em;
    margin-top: 4px;
}

/* Modal */
.modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 90%;
    max-width: 90%;
    transform: translate(-50%, -50%);
}

.close {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 15px;
    right: 35px;
    cursor: pointer;
}

.painting-info {
    color: white;
    font-family: var(--main-font);
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-align: right;
}

/* Footer */
#site-footer {
    color: #999;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

/* Language Switcher */
.lang-switcher {
    top: 0;
    position: absolute;
    right: 10px;
    z-index: 1003;
}

.lang-switcher a {
    color: black;
    margin: 0 1px;
    text-decoration: none;
}

.lang-switcher a:hover, .lang-switcher a.active-lang {
    text-decoration: underline;
}

/* About Section */
.align-right {
    font-style: italic;
    text-align: right;
}

.indented-text {
    margin: 0.5em 0;
    text-indent: 1em;
}

.image-wrapper {
    float: left;
    margin-right: 20px;
}

.biography-image {
    display: block;
    margin: 0 100px 1em;
    width: 300px;
}

#about #biography-container {
    padding-right: 100px;
}

#contact h1 {
    padding-right: 0;
}

/* TOC */
#toc {
    margin-bottom: 20px;
    padding: 10px;
}

#toc h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

#toc ol {
    list-style-type: decimal;
}

#toc ol li {
    font-size: 1.2em;
    margin-bottom: 5px;
}

#toc ol li a {
    color: black;
    text-decoration: none;
}

#toc ol li a:hover {
    text-decoration: underline;
}

.carousel-container {
    display: none;
}

@media (max-width: 768px) {
    /* Header */
    .header-text {
        font-size: 1.5em;
        letter-spacing: 7px;
    }

    #site-header {
        height: 75px;
        margin-bottom: 0;
        position: relative;
        z-index: var(--zindex-header);
    }

    /* Layout */
    #container {
        flex-direction: column;
    }

    #menu,
    #content {
        padding: 0;
    }

    #content {
        order: 2;
    }

    /* Menu */
    #menu {
        visibility: hidden;
        order: 1;
        margin: 0;
        padding: 40px 10px 10px;
        top: 20px;
        max-height: 0;
        overflow-y: auto;
        background-color: white;
        z-index: var(--zindex-menu);
    }

    #menu.active {
        visibility: visible;
        max-height: 175px;
    }

    #menu.flex-center {
        flex-direction: column;
    }

    #menu a {
        text-align: center;
    }

    #menu li {
        position: relative;
    }

    #menu li::after {
        content: "";
        display: block;
        height: 1px;
        width: 80%;
        background: linear-gradient(to right, transparent, var(--gray-color), transparent);
        position: absolute;
        bottom: 0;
        left: 10%;
    }

    #menu li:last-child::after {
        display: none;
    }

    /* Menu Toggle */
    #menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        outline: none;
        display: block;
        position: absolute;
        top: 0;
        z-index: var(--zindex-toggle);
    }

    /* Hamburger Icon */
    .hamburger {
        width: 25px;
        height: 3px;
        background-color: var(--hamburger-color);
        position: relative;
        margin: 0;
    }

    .hamburger::before,
    .hamburger::after {
        content: "";
        background-color: var(--hamburger-color);
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        transition: var(--transition-standard);
    }

    .hamburger::before {
        top: -8px;
    }

    .hamburger::after {
        bottom: -8px;
    }

    #menu-toggle.opened .hamburger {
        background-color: transparent;
    }

    #menu-toggle.opened .hamburger::before {
        transform: rotate(45deg);
        top: 0;
    }

    #menu-toggle.opened .hamburger::after {
        transform: rotate(-45deg);
        bottom: 0;
    }

    /* Gallery */
    #gallery {
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
        padding: 10px;
        box-sizing: border-box;
    }

    .artwork {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin: 0 auto 16px auto;
    }

    .artwork img {
        display: block;
        margin: auto;
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .biography-image {
        display: none;
    }

    .carousel-container {
        position: relative;
        overflow: hidden;
        display: block;
    }

    .carousel-wrapper {
        display: flex;
        transition: transform 0.1s ease-in-out;
        overflow-x: scroll;
    }

    .carousel-image {
        height: 300px;
        width: auto;
        object-fit: cover;
        display: block;
    }

    #about #biography-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .content-section h1 {
        padding-left: 10px;
    }

    .contact-section {
        padding: 0 10px;
    }
}
